{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">Away from monotonous life</h6>
                <h1 class="text-white">Magical Travel</h1>
                <p class="text-white">
                    If you are looking at blank cassettes on the web, you may be very confused at the difference in
                    price. You may see some for as low as $.17 each.
                </p>
                <a href="{% url 'tours:list' %}" class="primary-btn text-uppercase">Discover Our Tours</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Popular Destinations</h1>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely
                        fast, day.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for destination in popular_destinations %}
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="{{ destination.featured_image.url }}" alt="{{ destination.name }}">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">Explore</a>
                        <h4>{{ destination.name }}</h4>
                        <p>{{ destination.country }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No popular destinations available.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End popular-destination Area -->

<!-- Start other-issue Area (Services) -->
<section class="other-issue-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Our Services</h1>
                    <p>We all live in an age that belongs to the young at heart. Life that is.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        {% if service.image %}
                        <img class="img-fluid" src="{{ service.image.url }}" alt="{{ service.title }}">
                        {% else %}
                        <img class="img-fluid" src="{% static 'img/o1.jpg' %}" alt="{{ service.title }}">
                        {% endif %}
                    </div>
                    <a href="#">
                        <h4>{{ service.title }}</h4>
                    </a>
                    <p>{{ service.description|truncatewords:20 }}</p>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No services available.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End other-issue Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 col-md-12 home-about-left">
                <h1>
                    Did not find your Package? <br>
                    Feel free to ask us. <br>
                    We'll make it for you
                </h1>
                <p>
                    inappropriate behavior is often laughed off as "boys will be boys," women face higher conduct
                    standards especially in the workplace. That's why it's crucial that, as women, our behavior on
                    the job is beyond reproach. inappropriate behavior is often laughed.
                </p>
                <a href="{% url 'website:contact' %}" class="primary-btn text-uppercase">request custom price</a>
            </div>
            <div class="col-lg-6 col-md-12 home-about-right no-padding">
                <img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->

<!-- Start testimonial Area -->
<section class="testimonial-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonials from our Clients</h1>
                    <p>With the exception of Nietzsche, no other madman has contributed so much to human sanity as has.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                {% for testimonial in testimonials %}
                <div class="single-testimonial item">
                    <div class="desc">
                        <p>{{ testimonial.content }}</p>
                    </div>
                    <div class="writer">
                        <div class="thumb">
                            {% if testimonial.user.profile.profile_image %}
                            <img src="{{ testimonial.user.profile.profile_image.url }}" alt="{{ testimonial.user.get_full_name }}">
                            {% else %}
                            <img src="{% static 'img/t1.jpg' %}" alt="{{ testimonial.user.get_full_name }}">
                            {% endif %}
                        </div>
                        <div class="info">
                            <h4>{{ testimonial.user.get_full_name|default:testimonial.user.username }}</h4>
                            <p>{{ testimonial.user.profile.job_title|default:"Traveler" }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="single-testimonial item">
                    <div class="desc">
                        <p>No testimonials available yet.</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->

<!-- Start blog Area -->
<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Latest from Our Blog</h1>
                    <p>With the exception of Nietzsche, no other madman has contributed so much to human sanity as has.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                {% for post in featured_posts %}
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                {% for category in post.categories.all|slice:":2" %}
                                <li>
                                    <a href="#">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="{{ post.get_absolute_url }}">
                            <h4 class="title">{{ post.title }}</h4>
                        </a>
                        <p>{{ post.excerpt }}</p>
                        <h6 class="date">{{ post.published_date|date:"F j, Y" }}</h6>
                    </div>
                </div>
                {% empty %}
                <div class="single-recent-blog-post item">
                    <div class="details">
                        <h4 class="title">No blog posts available</h4>
                        <p>Check back later for updates.</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End recent-blog Area -->

{% endblock %}